fail_fast: true
repos:
  - repo: local
    hooks:
      - id: licence-present
        name: licence-present
        entry: SPDX-License-Identifier
        language: pygrep
        args: [--negate]
        files: "((\\.(qml|py|css|qdoc|qdocconf|js|cpp|hpp))|qmldir|CMakeLists.txt)$"
      - id: qdebug-present
        name: qdebug-present
        entry: qDebug
        language: pygrep
        files: "(\\.(cpp|hpp))$"
      - id: ruff
        name: ruff
        entry: venv/Scripts/ruff.exe format
        language: system
        types: [python]
      - id: gersemi
        name: gersemi
        entry: venv/Scripts/gersemi.exe -i
        language: system
        files: "CMakeLists.txt"
      - id: qmlformat
        name: qmlformat
        entry: venv/Scripts/pyside6-qmlformat.exe -i -n
        files: "\\.qml$"
        language: system
      # - id: qmllint
      #   name: qmllint
      #   entry: venv/Scripts/pyside6-qmllint.exe
      #   files: "\\.qml$"
      #   language: system
      # - id: pylint
      #   name: pylint
      #   entry: venv/Scripts/pylint.exe
      #   language: system
      #   types: [python]
      #   require_serial: true
      - id: mypy
        name: mypy
        entry: venv/Scripts/mypy.exe
        language: system
        types: [python]
        require_serial: true
