--extra-index-url=https://download.qt.io/official_releases/QtForPython/
annotated-types==0.6.0
astroid==3.1.0
black==24.3.0
build==1.1.1
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
dill==0.3.8
distlib==0.3.8
filelock==3.13.1
identify==2.5.35
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
mypy==1.9.0
nodeenv==1.8.0
numpy==1.26.4
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pre-commit==3.6.2
pydantic_core==2.16.3
pydantic==2.6.4
pylint==3.1.0
pyproject_hooks==1.0.0
PySide6-Addons==6.5.3
PySide6-Essentials==6.5.3
PySide6==6.5.3
PyYAML==6.0.1
setuptools-git-versioning==1.13.6
shiboken6==6.5.3
shiboken6_generator==6.5.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
types-setuptools==69.2.0.20240317
typing_extensions==4.10.0
virtualenv==20.25.1