--extra-index-url=https://download.qt.io/official_releases/QtForPython/
appdirs==1.4.4
astroid==3.2.4
black==24.4.2
build==1.2.1
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
coverage==7.6.0
dataclasses==0.6
dill==0.3.8
distlib==0.3.8
exceptiongroup==1.2.2
filelock==3.15.4
gersemi==0.14.0
identify==2.6.0
iniconfig==2.0.0
isort==5.13.2
lark==1.1.9
lxml==5.2.2
mccabe==0.7.0
mypy==1.11.0
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==1.26.4
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.7.1
pylint==3.2.6
pyproject_hooks==1.1.0
PySide6==6.9.2
PySide6-Addons==6.9.2
PySide6-Essentials==6.9.2
pytest==8.3.1
pytest-cov==5.0.0
PyYAML==6.0.1
scikit_build_core==0.9.8
setuptools-scm==8.1.0
shiboken6==6.9.2
shiboken6-generator==6.9.2
tomli==2.0.1
tomlkit==0.13.0
typing_extensions==4.12.2
virtualenv==20.26.6
