astroid==3.1.0
black==24.2.0
build==1.1.1
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
dill==0.3.8
distlib==0.3.8
filelock==3.13.1
identify==2.5.35
isort==5.13.2
mccabe==0.7.0
mypy==1.9.0
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.26.4
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pre-commit==3.6.2
pylint==3.1.0
pyproject_hooks==1.0.0
PySide6==6.5.2
PySide6_Addons==6.5.2
PySide6_Essentials==6.5.2
PyYAML==6.0.1
shiboken6==6.5.2
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.10.0
virtualenv==20.25.1